body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 15px;
    color: #333;    
    background-color: #ffffff;

    -webkit-font-smoothing: antialiased;
}

*, 
*:after,
*:before {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p{
    margin: 0 0 10px;
}

.header{
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #515369;
    padding: 35px 0;
    align-items: center;
}

.nav{
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;

}

.nav-link{
    margin-left: 50px;
    color: #ffffff;
    text-decoration: none;
    opacity: .75;

    transition: opacity .2s linear;
}

.nav-link:first-child{
    margin-left: 0;
}

.nav-link:hover{
    opacity: 1;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;
    background: #31344e url("/images/intro-bg.jpg") center no-repeat;
    background-size: cover;
}

.intro-title{
    font-family: 'Open sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 0 30px;
}

.intro-inner{
    margin: 0 auto;
    width: 100%;
    max-width: 970px;
    text-align: center;
}

.intro-subtitle{
    font-size: 22px;
    color:#fff;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 60px;
}

.btn{
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;
    font-size: 13px;
    border: 0;
    cursor: pointer;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 2px;
    font-family: inherit;
    transition: background .1s linear;
    text-align: center;
}

.btn--red{
    background-color: #e84545;
}

.btn--long{
    min-width: 280px;  
}

.btn--red:hover{
    background-color: #dd3434;
}

.features{
    margin: 95px 0;
    display: flex;
    flex-wrap: wrap;
}

.feature{
    width: 33.3333%;
    text-align: center;
    padding: 0 30px;
    margin: 25px 0;
}

.feature-icon, .feature-title{
    margin-bottom: 20px;
}

.feature-title{
    font-style: 14px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.feature-text{
    font-style: 14px;
    line-height: 1.5;
    color: #000;
}

.works{
    display: flex;
    flex-wrap: wrap;
}

.work{
    width: 25%;
    position: relative;
    overflow: hidden;
    height: 350px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.work-img{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.work-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 69, .9);
    color: #ffffff;
    font-style: 14px;
    opacity: 0;
    transition: opacity .2s linear;
}

.work-content:hover{
    opacity: .9;
}

.work-title{
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 700;
}

.team{
    margin: 100px 0 70px;
}

.team-inner{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team-item{
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team-photo{
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.team-name{
    font-size: 22px;
    color: #2d3033;
    margin-bottom: 8px;
}

.team-title{
    font-size: 13px;
    color:#e84545;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.team-text{
    font-style: 14px;
    line-height: 1.5;
    color: #6c7279;
    margin-bottom: 20px;
}

.social{
    display: flex;
}

.social-footer{
    justify-content: center;
}

.social-footer .social-link{
    background: none;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}

.social-footer .social-icon{
    fill: #fff;
}


.social-link{
    display: flex;
    width: 40px;
    height: 40px;
    border: 1px solid #e8ecec;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    background-color: #fff;
    transition: background .2s linear;
}

.social-link:hover{
    background-color: #fff;
}

.social-link:hover .social-icon{
    fill: #000;
}

.social-icon{
    display: block;
    fill: #c6cacc;
    height: 18px;

    transition: fill .2s linear;
}

.reviews{
    overflow: hidden;
    background-color: #53354a;
}

.reviews-item{
    display: flex;
    flex-wrap: wrap;
}

.reviews-photo{
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews-img{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);
}

.reviews-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}

.reviews-text{
    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 25px;
}

.reviews-name{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.download{
    margin: 90px 0;
    text-align: center;
}

.download-title{
    margin-bottom: 10px;
    font-style: 28px;
    color: #2d3033;
    font-weight: 300;
}

.download-text{
    font-style: 13px;
    color: #2d3033;
    font-size: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
}

.footer{
  
    background-color: #3e3e64;
}

.footer-inner{
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}

.footer-block{
    width: 33.3333%;
    text-align: center;
    padding: 0 15px;
}

.footer-title{
    font-style: 14px;
    font-weight: 700;
    color:#fff;
    text-transform: uppercase; 
    margin-bottom: 10px;
}

.footer-address{
    font-style: normal;
    font-style: 14px;
    color: rgba(255, 255, 255, .5);
    line-height: 1.5;
}

.copyright{
    padding: 20px 0;
    background-color: #313454;
}

.copy-text{
    text-align: center;
    font-size: 14px;
    color: #808080;
    line-height: 1.5;
}

.copy-text span{
    color: #fff;
}